# Dependencias
node_modules/

# Compilación
dist/
build/

# Variables de entorno — NUNCA subir al repo
.env
.env.local
.env.production
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# TypeORM cache
.tsbuildinfo
tsconfig.build.tsbuildinfo

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
coverage/

# ext color
vscode

kubectl

minikube_latest_amd64.deb
